//
// Style adjustments for small screens
//
@media only screen and (max-width: 575px) {
  .modal-dialog {
    width: 90vw;
    left: 3vw;
    top: 10vw;
  }
}

//
// Style adjustments
//

.navbar {
  margin-top: 5px;
  margin-bottom: 20px;
}

.row {
  margin-left: auto;
  margin-right: auto;
}

//
// Custom styles
//

.lemon-dropdown-name {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 16px;
}

.lemon-form {
  position: relative;
  display: inline-block;
  padding: 5px;
  margin: auto;
  text-align: center;
  width: 450px;
}

@media only screen and (max-width: 480px) {
  .lemon-form {
    width: 90vw;
  }
}

.lemon-form-container {
  position: absolute;
  display: flex;
  width: 100vw;
  padding-top: 100px;
}

.lemon-form-title {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  font-size: 32px;
}

.lemon-link {
  color: var(--secondary);
  padding: 0 5px;
  font-weight: bold;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}
.lemon-link:hover {
  text-decoration: none;
  color: var(--dark);
}

.lemon-nav-left {
  position: absolute;
  left: 5px;
}

.lemon-nav-right {
  position: absolute;
  right: 5px;
}

.lemon-title {
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  font-size: 92px;
}

.lemon-title-nav {
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  padding: 0px;
  margin: 0px;
  margin-top: 4px;
}

.lemon-welcome {
  align-items: center;
  position: absolute;
  width: 100vw;
  top: 20vh;
  justify-content: center;
  text-align: center;
}
